body {
  background-color: #282626;
  color: #ffffff;
}

input {
  background-color: black;
  color: #ffffff;
  block-size: 25px;
  margin-top: 20px;
}
button {
  background-color: black;
  color: aqua;
  width: 100px;
  height: 40px;
  margin-left: 100px;
  margin-top: 30px;
  /* padding: 30px; */
  border: solid rgb(46, 129, 25) 3px;
}
.result {
  color: darkgreen;
}
