html {
  margin: 0;
}

body {
  background-color: #414;
}

span {
  display: block;
}
/* .canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
} */

.button {
  width: 200px;
  height: 300px;
  border: solid black 2px;
  border-collapse: collapse;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#green {
  background: #1c6c0e;
}
#orange {
  background: #bd471c;
}
#black {
  background-color: #000000;
}
#red {
  background-color: #ff0000;
}
